	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #262625;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: #262625;
	font-size: 100%;

	line-height: 1.2;
}

#wrapper {
	max-width: 70em;
	margin: 0 auto;

}

#wrappertut {

	max-width: 80%;
	margin: 0 auto;
	box-shadow: 0 0 45px -10px #000 inset;


}

h1 {
	line-height: 1;
	font-size: 2.25em;
	text-shadow: 5px 5px 5px black;
	color: #e37405;

}

h2 {
	line-height: 1;
	font-size: 1.75em;
	text-shadow: 5px 5px 5px black;
	color: #FFF;

}

h3 {
	line-height: 1;
	font-size: 1.75em;
	text-align: center;
	color: #e37405;


}

h4 {
	line-height: 1;
	font-size: 1.375em;
	text-align: left;
	color: #e37405;


}

h5 {
	line-height: 1;
	font-size: 1.25em;
	text-align: center;
	color: #e37405;

}

h6 {
	line-height: 1;
	font-size: .875em;
	

}
p {
	font-size: 1rem;
	line-height: 1.5;
	margin: 10px 10px 10px 0;
}


small {
	font-size: .75em;
	/* 12px*/

blockquote {
	border-left: 5px solid #eee;
}


caption {
	font-size: 1.2em;
	font-weight: bold;

a:visited {
	
a:hover {
	color: #fc0707;
	text-decoration: underline;
	transition: 0.9;

	text-shadow: 2px 2px 5px black
}

a:focus {
	color: rgb(231, 175, 21);
}

/* -- a[href^="#top"] {
	font-size: 1em;
	padding-left: 0em;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
} --*/


footer a:link {
	color: #fff;
footer a:link {
	
Grid layout
------------------------*/

.bannertut {
	grid-area: bannertut;

}

.menu {

	footer {
	grid-area: footer;
}

/**----------------------------------- 
    Queries for different screen sizes
   ------------------------------------*/

/* ----------------------------------------------------
Wider screens - i.e. desktop, laptop, tablet landscape
-------------------------------------------------------*/

#wrappertut {

    	display: grid;
    	grid-gap: 0px;
    	grid-template-areas:    "menu" 
		   	   	"bannertut" 
				"nav" 
				"table" 
			    	"main" 
			    	"aside" 
			    	"footer";
}

@media (min-width: 50em) {
    #wrappertut {
        grid-template-columns: 3fr 6fr;
        grid-template-areas:    "menu  menu"
				"bannertut  bannertut"
				"nav  table"
				"aside  main"
				"footer  footer";
}

.banner {
	padding: 0 0 0 3em;
}

.card {
	width: 33%;
	display: inline;
}
}

@media (min-width: 60em) {
    #wrappertut {
        grid-template-columns: 2fr 5fr 2.3fr;
        grid-template-areas:    "menu  menu  menu" 
				"bannertut bannertut bannertut" 
				"main  main  main" 
				"footer  footer  footer";
}

.card {
	width: 25%;
}

}




@media screen {
	html {
	  scroll-behavior: smooth;
	}
  }


/* ----------------------------------------------------
Mobile screens - portrait
Wider screens - i.e. desktop, laptop, tablet landscape
-------------------------------------------------------*/

@media (max-width: 35em) { 
}
.bannertut {
	color: #fff;
	background-image: url(https://jch74.brighton.domains/root/images/securityresized.jpg);
	background-size: cover;
 	background-repeat: no-repeat;
  	width: 100%;
	height: 13em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.3em;
	padding: 1em 1em 1.25em 1em;
	padding-left: 40px;
	text-align: left;
	text-shadow: 5px 5px 5px black;
}
.banner-fluid {
Mobile screens - portrait
}

.menu {
    background: #000;
    position: fixed;
    width: 80%;
    padding: 0 ;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    opacity: 0.9;
    margin-top: 0;
    margin-left: 0;

}
nav h3, aside h3 {
figure {
}
footer {
	color: #fff;
	background: #000;
	padding: 1em 1.25em 1em 1.25em;
	opacity: 0.9;

}

/**Makes images 100% width of containing element i.e. flexible columns.
	box-shadow: 0 0 25px -5px #000;
}

.card-content:hover {
    background-color: #000;
    transition: 0.5;
}

/*Scroll Bar Modification - reference https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 15px;
    background-color: ##262625;
    background: ##262625;
}

 ::-webkit-scrollbar-track {
    margin-top: 10%;
    background: ##262625
}

 ::-webkit-scrollbar-thumb,
 ::-webkit-scrollbar-thumb:hover {
    background:  #e37405;
    border-radius: 20px
}


/* -----------------------------------------------
Menu Navigation - vertical layout for smaller screens
Menu Navigation - vertical layout for smaller screens
}

.menu a:focus {
	color: #e37405;
}

.menu a:hover {
    color: #e37405;
    transition: 0.2s;
}

.menu a:active {
	color: #e37405;
}

input[type="submit"] {
	width: 100%;
}


.video-container {
	text-align: center;
	padding: 1em 1em 1em 1em;

input[type="submit"] {
.footerimg {
	float: right;
	margin-right: .5em;
}
